{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/wishlist.css' %}">
{% endblock link %}

{% block title %}Wishlist{% endblock title %}

{% block content %}
    {% if wishlist_items %}
        {% for item in wishlist_items %}
            <div class="container">
                <section id="cart">
                    <article class="product">
                        <header>
                            <a class="remove" href="{% url 'remove_from_wishlist' item.id %}">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                        </header>
                        <div class="content">
                            <h1>{{ item.product.name }}</h1>
                            {{ item.product.description }}
                        </div>
                        <footer class="content">
                            <span class="qt-minus">-</span>
                            <span class="qt" id="quantity-{{ item.id }}">{{ item.quantity }}</span>
                            <span class="qt-plus">+</span>
                            <a class="qt-plus" style="margin-left: 10px; text-align: center;" href="{% url 'remove_from_wishlist' wishlist_id=item.id %}" data-item-id="{{ item.id }}">Delete</a>
                            <h2 class="full-price" id="full-price-{{ item.id }}">
                                <a href="{% url 'credit_card' %}">
                                    {{ item.product.price|floatformat:item.quantity }} $
                                </a>
                            </h2>
                            <h2 class="price">
                                {{ item.product.price }} $
                            </h2>
                        </footer>
                    </article>
                </section>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var check = false;
        function changeVal(el) {
            var qt = parseFloat(el.parent().children(".qt").html());
            var price = parseFloat(el.parent().children(".price").html());
            var eq = Math.round(price * qt * 100) / 100;
            el.parent().children(".full-price").html(eq + " $");
            changeTotal(); 
        }
        function changeTotal() {
            var total = 0;
            $(".full-price").each(function(index) {
                total += parseFloat($(".full-price").eq(index).text().replace(" $", ""));
            });
            total_foter = Math.round(total * 100) / 100
            tax_foter = Math.round(total * 0.05)
            $(".subtotal span").html(Math.round(total_foter + tax_foter + 5));
            $(".total span").html(Math.round(total * 100) / 100);
            $(".tax span").html(Math.round(total * 0.05));
        }

        function adjustQuantity(itemId, change) {
            var quantityElement = $("#quantity-" + itemId);
            var currentQuantity = parseInt(quantityElement.text());

            var newQuantity = Math.max(1, currentQuantity + change);

            quantityElement.text(newQuantity);

            changeVal(quantityElement.siblings('.qt-plus'));
        }
        $(document).ready(function(){
            $(".remove-link").click(function(e){
                e.preventDefault();
                var itemId = $(this).data("item-id");
                adjustQuantity(itemId, -1);
            });
            $(".qt-plus").click(function(){
                var quantityElement = $(this).parent().children(".qt");
                var itemId = quantityElement.attr('id').split('-')[1];
                adjustQuantity(itemId, 1);
                var eq = Math.round(parseFloat($(this).parent().children(".price").html()) * parseFloat(quantityElement.html()) * 100) / 100;
                
                $(this).parent().children(".full-price").html(eq + " $");
                
                $(this).parent().children(".full-price").addClass("added");
            
                var el = $(this);
                window.setTimeout(function(){el.parent().children(".full-price").removeClass("added"); changeTotal();}, 150);
            });

            $(".qt-minus").click(function () {
                var quantityElement = $(this).siblings(".qt");
                var itemId = quantityElement.attr('id').split('-')[1];
                adjustQuantity(itemId, -1);

                var eq = Math.round(parseFloat($(this).parent().children(".price").html()) * parseFloat(quantityElement.html()) * 100) / 100;

                $(this).parent().children(".full-price").html(eq + " $");

                $(this).parent().children(".full-price").addClass("minused");

                var el = $(this);
                window.setTimeout(function () { el.parent().children(".full-price").removeClass("minused"); changeTotal(); }, 150);
            });
        });
    </script>
{% endblock script %}
