{% load static %}

<link rel="stylesheet" href="{% static 'js/auth.js' %}">
<link rel="stylesheet" href="{% static 'styles/allAuth/auth.css' %}">

<section class="forms-section">
    <h1 class="section-title">Login or Sign up</h1>
    <div class="forms">
        <div class="form-wrapper is-active">
            <button type="button" class="switcher switcher-login">
                Login
                <span class="underline"></span>
            </button>
            {% include 'main/allAuth/login.html' %}
        </div>
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            {% include 'main/allAuth/signup.html' %}
        </div>
    </div>
</section>