{% load static %}

<link rel="stylesheet" href="{% static 'styles/allAuth/auth.css' %}">

<div class="canvas">
    <div class="moon"></div>

    <div class="auth">
        <a href="{% url 'signup' %}">
            <button type="submit" class="sign-up">
                Sign up
            </button>
        </a>

        <br>
        <br>

        <a href="{% url 'login' %}">
            <button type="submit" class="log-in">
                Log in
            </button>
        </a>
    </div>
</div>
