<form class="form form-login">
    <fieldset>
        <legend>Please, enter your username and password for login.</legend>
        <div class="input-block">
            <label for="login-email">Username</label>
            <input id="login-email" type="email" required>
        </div>
        <div class="input-block">
            <label for="login-password">Password</label>
            <input id="login-password" type="password" required>
        </div>
    </fieldset>
    <button type="submit" class="btn-login">Login</button>
</form>