{% extends 'main/base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="container">
        <h1>Logged out successfully</h1>

        <hr>
        <div class="mb-5">
            <small class="text-muted">
                <a href="{% url 'signup' %}">
                    Sign up
                </a>
            </small><br>
            <small class="text-muted">
                <a href="{% url 'login' %}">
                    Log in
                </a>
            </small>
        </div>
    </div>
{% endblock content %}
