<form class="form form-signup">
    <fieldset>
        <legend>Please, enter your email, password and password confirmation for sign up.</legend>
        <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" type="email" required>
        </div>
        <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" type="password" required>
        </div>
        <div class="input-block">
            <label for="signup-password-confirm">Confirm password</label>
            <input id="signup-password-confirm" type="password" required>
        </div>
    </fieldset>
    <button type="submit" class="btn-signup">Continue</button>
</form>