{% extends 'main/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock link %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>

    <h2 style="text-align:center; padding-top: 15px;">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{% static 'images/pavel.png' %}" height="235" alt="John" style="width:100%">
                <div class="container">
                    <h2>Pavel Durov</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes Pavel.</p>
                    <p>pavel@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'images/mike.png' %}" height="235" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes Mike.</p>
                    <p>mike@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'images/john.png' %}" height="235"  alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes John.</p>
                    <p>john@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
