{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}
    {% endblock link %}
    <title>{% block title %}{% endblock title %}</title>

    {% bootstrap_css %}
</head>
<body>
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% include 'main/navbar.html' %}

        {% block content %}
        {% endblock content %}

        {% comment %} {% include 'main/footer.html' %} {% endcomment %}

        {% block script %}
        {% endblock script %}
    {% comment %} {% else %} {% endcomment %}
        
    {% comment %} {% endif %} {% endcomment %}
    {% bootstrap_javascript %}
</body>
</html>