{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block link %}
    {% endblock link %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div id="body-pd">
            <div>
                {% include 'main/navbar.html' %}
            </div>

            <div class="main">
                <div class="main-content">
                    <div id="messages" style="text-align: center;">
                        {% bootstrap_messages %}
                    </div>            
                    {% block content %}
                    {% endblock content %}
                </div>

                <div class="main-footer">
                    {% include 'main/footer.html' %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'main/allAuth/auth.html' %}
    {% endif %}

    {% block script %}
    {% endblock script %}
</body>
{% block style %}
{% endblock style %}
</html>