{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}
    {% endblock link %}
    <title>{% block content %}{% endblock content %}</title>

    {% bootstrap_css %}
</head>
<body>
    {% if user.is_authenticated %}
        {% comment %} {% include 'navbar.html' %} {% endcomment %}

        {% block content %}
        {% endblock content %}

        {% comment %} {% include 'footer.html' %} {% endcomment %}

        {% block script %}
        {% endblock script %}
    {% else %}
        {% include 'allAuth/auth.html' %}
    {% endif %}
    {% bootstrap_javascript %}
</body>
</html>