{% load static %}

<link rel="stylesheet" href="{% static 'styles/footer.css' %}">

<footer class="footer">
    <div class="bottom-links">
        <div class="links">
            <span>More Info</span>
            <a href="{% url 'home_page' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="copy">&copy; 2023 Developer</div>
        <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
