*,::before,::after {
    box-sizing: border-box;
}
#body-pd {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    min-height: 100vh;
    background: url("../images/splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
